<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    {{> header}}

    <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">{{pageTitle}}</h1>
        <p class="lead">{{ screamIt contentPage }}</p>
    </div>
    </div>

    {{> footer}}
    {{> assetjs}}
</body>
</html>