<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">MAINTENANCE SYSTEM !</h1>
            <p class="lead">We'll righ back come soon.</p>
        </div>
    </div>

    {{> footer}} {{> assetjs}}
</body>

</html>