<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    {{> header}}
    <h1 class="text-center">{{ pageTitle }}</h1>
    <p class="text-center">{{contentPage}}</h1>
    {{> footer}}
    {{> assetjs}}
</body>
</html>